.header__logo {
  max-width: 142px;
  padding-bottom: 41px;
  object-fit: contain;
  display: flex;
  box-sizing: border-box;
}

@media screen and (max-width: 720px) {
  .header__logo {
    max-width: 103.7px;
    padding: 0 0 31.6px 27px;
    box-sizing: content-box;
  }
}