.element__button {
  width: 22px;
  height: 19px;
  margin: 5px 5px 0 0;
  padding: 0;
  background-image: url(../../../images/Like\ button.svg);
  display: flex;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.element__button:hover {
  opacity: .5;
}