.element__info {
    margin: 0;
    padding: 25px 15px 31px 21px;
    background-color: #FFFFFF;
    max-width: 282px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}
